# Versions used for the tested Windows release build.
altgraph==0.17.5
certifi==2026.7.22
packaging==26.3
pefile==2024.8.26
Pillow==12.3.0
PyInstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pystray==0.19.5
pywin32-ctypes==0.2.3
setuptools==84.0.0
six==1.17.0
